/* @keyframes LinearScroller {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

.animate-LinearScroller {
  animation: LinearScroller 10s linear infinite ;
} */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);   /* -50% because we duplicated the content */
  }
}

.animate-marquee {
  animation: marquee 5s linear infinite;   /* adjust 25s to control speed */
  will-change: transform;                   /* helps performance */
}

/* Optional: Pause on hover */
.animate-marquee:hover {
  animation-play-state: paused;
}

.scroll-container {
  overflow: hidden; /* Hide items outside the box */
  width: 60%;
  margin: auto;
  white-space: nowrap;
  border-radius: 25%;
}

.scroll-content {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite; /* Adjust time for speed */
}



@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* Move half-way to loop seamlessly */
}

.item {
  padding: 0 5vw;
  /* font-size: 4rem; */
  color: #ffffff2c;
  pointer-events: none;
}


