MONGO_URI=YOUR_MONGO_URI
JWT_SECRET=YOUR_JWT_SECRET
PORT=3000

CSC_API_KEY=your_CSC_key

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_APP_PASSWORD=YOUR_GOOGLE_APP_PASSWORD
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

NODE_ENV=development

RAZORPAY_KEY_ID=YOUR_RAZORPAY_KEY_ID
RAZORPAY_KEY_SECRET=YOUR_RAZORPAY_KEY_SECRET

REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
REDIS_PASSWORD=your_redis_password
POSTALCODE_CHECKER_URL=https://api.postalpincode.in/pincode/
